<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ocampojohny.imagen" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu_Activity"
            android:label="@string/title_activity_menu_" >
        </activity>
        <activity
            android:name=".Hoteles_Activity"
            android:label="@string/title_activity_hoteles__actvity" >
        </activity>
        <activity
            android:name=".Bares_Activity"
            android:label="@string/title_activity_bares_" >
        </activity>
        <activity
            android:name=".Sitios_Activity"
            android:label="@string/title_activity_sitios_" >
        </activity>
        <activity
            android:name=".Estelar_Activity"
            android:label="@string/title_activity_estelar_" >
        </activity>
        <activity
            android:name=".CasaMorales_Activity"
            android:label="@string/title_activity_casa_morales_" >
        </activity>
        <activity
            android:name=".Lusitania_Activity"
            android:label="@string/title_activity_lusitania_" >
        </activity>
        <activity
            android:name=".Maromas_Activity"
            android:label="@string/title_activity_maromas_" >
        </activity>
        <activity
            android:name=".london_Activity"
            android:label="@string/title_activity_london_" >
        </activity>
        <activity
            android:name=".VinoYtinto_Activity"
            android:label="@string/title_activity_vino_ytinto_" >
        </activity>
        <activity
            android:name=".Centenario_Activity"
            android:label="@string/title_activity_centenario_" >
        </activity>
        <activity
            android:name=".Conservatorio_Activity"
            android:label="@string/title_activity_conservatorio_" >
        </activity>
        <activity
            android:name=".ParqueMusica_Activity"
            android:label="@string/title_activity_parque_musica_" >
        </activity>
        <activity
            android:name=".Catedral_Activity"
            android:label="@string/title_activity_catedral_" >
        </activity>
        <activity
            android:name=".Jardin_Activity"
            android:label="@string/title_activity_jardin_" >
        </activity>
        <activity
            android:name=".Demografia_Activity"
            android:label="@string/title_activity_demografia_" >
        </activity>
        <activity
            android:name=".acercade_activity"
            android:label="@string/title_activity_acercade_activity" >
        </activity>
    </application>

</manifest>
